.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #f9f9f9; */
    padding: 10px 10px;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    min-height: 7vh;
    position: fixed;
    width: 100%;
    top: 0;
  }

.header__logo{
    height: 40px;
    object-fit: contain;
}

.header__icon{
    padding: 20px;
}